@using PB303Fashion.DataAccessLayer.Entities
@model List<Category>


<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name.</th>
                            <th>ImageUrl</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.ImageUrl</td>
                                <td>
                                    <a class="btn btn-warning" asp-controller="category" asp-action="details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-warning" asp-controller=>Update</a>
                                    <a class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>